body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1em 16em;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style: none; 
    
}

a{
    text-decoration: none;
}