@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #21371f;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 24px 16em;
}

.logo-group {
    display: flex;
    align-items: center;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
    gap: 8px
}

.logo {
    width: 28px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

li {
    list-style: none; 
}

a {
    text-decoration: none;
}

.hero-info {
    display:flex;
    gap: 4em;
    margin: 8em 16em;
}

.hero-left {
    width: 28em;
    padding: 1em 0;
}

.main-hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 16px;
}

.hero-text {
    font-size: 18px;
    color:#F9FAF8;
    margin-bottom: 16px;
}

.log-in {
    border: 1px solid #F9FAF8;
    padding: 3px 12px;
    border-radius: 8px;
}

.hero-right {
    background-color: #E5E7EB;
    flex: auto;
}

.examples-header {
    text-align: center;
    margin: 2em;
    color: #21371f;
    font-size: 36px;
    font-weight: 900;
}

.examples {
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
    gap: 4em;
}

.box {
    justify-content: center;
    max-width: 170px;
}

.box-image {
    border-radius: 1em;
    margin-bottom: 8px;
    border: 4px solid #60a213;
    height: 170px;
    width: 170px;
}

.box-text {
    text-align: center;
    font-size: 18px;
    color: #21371f;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 8em;
    background-color: #E5E7EB;
}

.quote-box {
    width: 52em;
}

.quote-text {
    font-size: 36px;
    color: #21371f;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1em;
}

.author {
    text-align: end;
    color: #21371f;
    font-weight: 900;
    font-size: 24px;
}

.call {
    display: flex;
    justify-content: center;
    margin: 6em 16em;
    border-radius: 1em;
    padding: 3em 6em;
    gap: 8em;
    background-color: #60a213; 
    
}

.call-left-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-call {
    width: 50px;
}

.call-left {
    display: flex;
    flex-direction: column;
}

.call-header {
    color:#F9FAF8;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 8px;
}

.call-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    flex-shrink: 0;
    padding: 9px 36px;
    border-radius: 8px;
    border: 0;
    width: 142px;
    height: 42px;
    background-color: #60a213;
    font-size: 18px;
    font-weight: 900;
    color:#F9FAF8
}

.call-button {
    border: 2px solid white;
    align-self: center;
}

.footer {
    text-align: center;
    padding: 2em;
    background-color: #21371f;
    font-size: 18px;
    color:#F9FAF8
}
