@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1em 16em;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style: none; 
    
}

a{
    text-decoration: none;
}